
<div id="mastfoot">
        <div class="inner">
          <!-- Validation -->

          <p><a href=
          "http://validator.w3.org/check?uri=http%3A%2F%2Fbootsnipp.com%2Fiframe%2Fg6GWQ"
          target="_blank"><small>HTML</small><sup>5</sup></a></p>
          
          
          <p><a href=
          "https://github.com/twbs/bootlint"
          target="_blank"><small>Base on Django</small></a></p>          
      
          

          <p>© 2014 Mrlin ~ <a href=
          "http://www.521vpn.tk/">521VPN</a></p>
        </div>
      </div>
       {% load static  %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">  
</script>
<script src="{% static "dist/js/bootstrap.min.js" %} "></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>

