 {% load static  %}
 <link href="{% static "vip/feather.css" %}" rel="stylesheet">
 {% include 'vip/header.html' %}


 <div class="site-wrapper">
 	<div class="site-wrapper-inner">
 		<div class="cover-container">      

 			<div class="inner cover">



 				
 				<h1 class="cover-heading">自助购买流程</h1>

 				<p class="lead">第一步： 注册一个网站登陆账户（这个账户是登陆网站的，是免费注册的）。</p>
 				<p class="lead">
 					第二步： 进行账户充值(支持网上银行和支付宝)。充值好了在 账户信息 可以看到你的余额。</p>
 				<p class="lead">
 						第三步： 用充值的余额购买登陆账号（登录VPN的）。</p>
 				<p class="lead">
 							第四步：回到 账户信息，可以看到您在第三步中购买的登陆账号和密码（注意密码区分大小写）。</p>
 				<p class="lead">
 								至此购买过程完毕</p>






 								<br>

 							</div>


 						</div>
 					</div>
 				</div>





 				{% include 'vip/footer.html' %}