 {% load staticfiles  %}
 <link href="{% static "vip/feather.css "%}" rel="stylesheet">
 {% include 'vip/header.html' %}


 <div class="site-wrapper">
 	<div class="site-wrapper-inner">
 		<div class="cover-container">      

 			<div class="inner cover">
 			<table>
 				<tr>
 				<td>
 				
 					<h1 class="cover-heading">便宜安全的加速服务
 						支持 Windows Mac iPhone Android 等</h1>

 						<p class="lead">我们提供互联网加速服务、 玩欧美游戏、 公司内淘宝网购等。 支持 Windows / Mac OS / Linux / 手机 。 绝对保证安全快速。</p>

 				
 				</td>
 				<td >				
 					<img id="tabslide2" src="{% static "vip/tabslide2.png" %}">

 				
 				</td>
 				</tr>
 				</table>
 					<p class="lead">



 						<div id="thumb-slider" class="flexslider">
 							<ul class="slides">
 								<li>
 									<div class="thumb-text clearfix"><img src="https://www.18vpn.biz/img/icons/slider-tab-icon1.png" width="64" height="64" alt="icon">
 										<p><br>全平台支持<br>pc &amp; mobile </p>
 									</div>
 								</li>
 								<li>
 									<div class="thumb-text clearfix"><img src="https://www.18vpn.biz/img/icons/slider-tab-icon2.png" width="64" height="64" alt="icon">
 										<p><br>不限流量<br>200元/年</p>
 									</div>
 								</li>
 								<li>
 									<div class="thumb-text clearfix"><img src="https://www.18vpn.biz/img/icons/slider-tab-icon5.png" width="64" height="64" alt="icon">
 										<p><br>多种模式<br>多一种可能 </p>
 									</div>
 								</li>

 							</ul>
 						</div>
 					</p>
 					<br>

 				</div>


 			</div>
 		</div>
 	</div>





 	{% include 'vip/footer.html' %}