#list-vpn-select > .container{
    padding-top:40px;
    margin-left:40px;
    left:40px;
}

#table-vpn-result-section {
    top:50px;
    left:400px;
    width:500px;
    padding-left:50px;
}
#footer > .container{
    text-align: center;
}
